.home .features {
  background-color: #f1fdf7;
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.home .features .container {
  width: 1400px;
  display: flex;
  align-items: center;
  gap: 200px;
}

.home .features .container .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .features .container .item h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

.home .features p {
  font-size: 1.2rem;
  font-weight: 300;
  color: gray;
  line-height: 28px;
  letter-spacing: 1px;
}

.home .features .title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: gray;
}

.home .features .title img {
  width: 24px;
  height: 24px;
}
.home .features .container .item:first-child {
  flex: 2;
}

.home .features .container .item:last-child {
  flex: 3;
}

.home .features .container .item video {
  width: 720px;
}

.home .dark {
  background-color: #0d084d;
  color: white;
}

.home .dark .h1 {
  color: white;
}

.home .dark p {
  color: white;
  margin-bottom: 20px;
}

.home .dark .title {
  color: white;
  font-weight: 300;
}

.home .dark .item:last-child img {
  width: 100%;
}

.home .dark .item button {
  background-color: #1dbf73;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: max-content;
}
