.add {
  display: flex;
  justify-content: center;
}

.add .container {
  width: 1400px;
  padding: 50px 0;
}

.add .container > h1 {
  color: gray;
  font-weight: 300;
  margin-bottom: 30px;
}

.add .container .sections {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.add .container .sections .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex: 1;
}

.add .container .sections .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex: 1;
}

.add .container .sections label {
  color: gray;
  font-size: 1.25rem;
}

.add .container .images {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add .container .images .imagesInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add .container .sections input,
select,
textarea {
  padding: 20px;
  font-size: 1rem;
}

.add .container .sections button {
  border: none;
  padding: 20px;
  color: white;
  background-color: #1dbf73;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
}

.add .container .addFeatures {
  display: flex;
  justify-content: space-between;
}

.add .container .addFeatures input {
  width: 80%;
}

.add .container .addedFeatures {
  display: flex;
  gap: 20px;
}

.add .container .addedFeatures button {
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 20px;
}
