.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar.active {
  background-color: white;
  color: black;
}
.navbar.active .links button {
  background-color: white !important;
  color: #1dbf73 !important;
  border: 1px solid #1dbf73 !important;
}

.navbar .container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar .logo .dot {
  color: #1dbf73;
}

.navbar .links {
  display: flex;
  gap: 1.5rem;
  align-items: center; /* align centerally */
  font-weight: 500px;
  font-family: "Montserrat", sans-serif;
}

.navbar .links button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}

.navbar .links button:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

.navbar hr {
  width: 100%;
  height: 0;
  border: 0.5px solid rgb(228, 226, 226);
}

.navbar .menu {
  width: 1400px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: grey;
  font-family: "Montserrat", sans-serif;
}

/* User styles */

.navbar .user {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  position: relative;
}

.navbar .user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  width: 200px;
  font-weight: 300px;
}
